/* nejsme vcerejsi, pouzivame moderni box model */
*, :after, :before { box-sizing: border-box; }

/* barvicky elementů na stránce */
header,
footer {
	background: yellowgreen;
}

article {
	background: beige;
}

nav {
	background: lightsteelblue;
}

/* -------------------------------------------- */
/* tady piš svoje CSS */
/* -------------------------------------------- */

.main{
	display: flex;
}
.article{
	background-color: blanchedalmond;
	display: flex;
	flex-direction: column;
	
	flex-grow: 1;
	flex-shrink: 0;
}
nav{
	flex-basis: 20vw;
	padding-bottom: 130px;
	flex-shrink: 0;
}

header, footer {
	flex-grow: 1;
}
article{
	flex-grow: 4;
}