/* nejsme vcerejsi, pouzivame moderni box model */
*, :after, :before { box-sizing: border-box; }

/* barvicky elementů na stránce */
header,
footer {
	background: yellowgreen;
}

aside {
	background: beige;
}

nav {
	background: lightsteelblue;
}

/* -------------------------------------------- */
/* tady piš svoje CSS */
/* -------------------------------------------- */


.main {
	display: flex;

}
nav, aside {
	flex-basis: 20%;
	padding: 50px;
}
article{
	flex-grow: 1;
	padding: 50px;
}
header, footer{
	padding: 25px;
}